doctype html

html
  title Py Examplejs
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel='stylesheet' type='text/css' href='/stylesheets/global.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/welcome.css')

body
  nav(class='navbar')
    a(class='brand' href='/') <em> Welcome Page</em>
    a(href='/python') Python
    a(href='/test') Test
    
  block content
    
