main {
  padding:0;
  margin:0;
}

.column {
  float: left;
}

.errMessage{
  color:red;
}

.sidenav {
  width: 30%;
  height: 100vh;
  position:fixed;
  padding:2.5%;
  padding-top:3em;
  min-width:276px;
}


.mainText {
  width: 60%;
  padding-right:2.5%;
  padding-left:35%;
  padding-top:3em;
  padding-bottom:0;
}

.sidenav ul.ToC {
  padding:0;
  border-radius: 1em;
  background-color: #eee;
  list-style-type: none;
}

.sidenav ul.ToC li {
  display: block;
  padding: 0.25em 2em;
}

.sidenav ul.ToC li a {
  display:block;
  color: #3d70b2;
  text-decoration: none;
}

.sidenav ul.ToC li.active {
  border-left:0.5em solid #064579;
}

.sidenav ul.ToC li.active a {
  color: #064579;
}

.sidenav ul.ToC li:hover:not(.active) {
  border-radius: 0.25em;
  background-color: #3d70b2;
}

.sidenav ul.ToC li:hover:not(.active) a{
  color: white;
}

.sidenav ul.ToC li.subToC {
  padding: 0.2em 3em;
}
